body,html{
    height:100%;
    width:100%;
}


.mainheading{
    text-align: center;
}
p{
    color:Red;
    z-index:5;
}

.container{
    position:absolute;
    top:10%;
    text-align: left;
}


body{
    background-image: url("https://image.flaticon.com/icons/png/512/9/9282.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:50%;
    height:50%;
}